    <div class="col-4 col-4-sm col-4-lg col-4-md">  
        <div class="card">
            <div class="top">
                <h3 class="name">{{ Name }}</h3>
                <img src="../assets/graduate.png"><span class="title">{{ title }}</span>
            </div>    
            <div class="bottom">
                <p class="info">ID: {{ id }}</p>
                <p class="info">Email: {{ email }}</p>
                <p class="info">School:{{ school }}</p>
            </div>
        </div>    
    </div>     