
<div class="card">
    <div class="top">
        <h3 class="name">jeff</h3>
        <h5 class="title">Intern</h5>
    </div>    
    <div class="bottom">
        <p class="info">ID: 50</p>
        <p class="info">Email: jeff@fakemail.com</p>
        <p class="info">School:wisconsin</p>
    </div>
</div>    

    <div class="card">
        <div class="top">
            <h3 class="name">marsh</h3>
            <h5 class="title">Manager</h5>
        </div>    
        <div class="bottom">
            <p class="info">ID: 10</p>
            <p class="info">Email: marsh@fakemail.com</p>
            <p class="info">Office number:10</p>
        </div>
    </div>
<div class="card">
    <div class="top">
        <h3 class="name">jeff</h3>
        <h5 class="title">Intern</h5>
    </div>    
    <div class="bottom">
        <p class="info">ID: 70</p>
        <p class="info">Email: jeff@fakemail.com</p>
        <p class="info">School:wisconsin</p>
    </div>
</div>    

    <div class="card">
        <div class="top">
            <h3 class="name">cher</h3>
            <h5 class="title">Manager</h5>
        </div>    
        <div class="bottom">
            <p class="info">ID: 40</p>
            <p class="info">Email: cher@fakemail.com</p>
            <p class="info">Office number:40</p>
        </div>
    </div>

    <div class="card">
        <div class="top">
            <h3 class="name">marsh</h3>
            <h5 class="title">Engineer</h5>
        </div>    
        <div class="bottom">
            <p class="info">ID: 30</p>
            <p class="info">Email: marsh@fakemail.com</p>
            <p class="info">GitHub:marsh</p>
        </div>
    </div>    
